<div class="container">
  <!--Books-->
  <div class="row">
    <div class="col-4"
         *ngFor="let book of books; trackBy: trackByFn">
      <div class="card card-body">
        <div class="card card-title">
          {{book.name}}
          <span class="badge badge-success ml-auto">
            {{book.price | currency:'USD':'symbol':'3.0-2'}}
          </span>
        </div>
        <span class="text-info">
           {{book.author}}
        </span>
        <span class="text-primary">
            {{book.date.toDate() | customDate:'ru-RU':'full'}}
        </span>
        <p class="card-text">
          {{book.description}}
        </p>
        <a *ngFor="let link of book.link"
           href="{{link.link}}">
          {{link.type}}
        </a>

        <button class="btn btn-success mt-3"
                (click)="book.isAddBasket = true ; addBook(book)"
                *ngIf="!book.isAddBasket">
          Добавить в корзину
        </button>
        <button class="btn btn-warning mt-3"
                (click)="book.isAddBasket = false; deleteBookFromBasket(book.id)"
                *ngIf="book.isAddBasket">
          Удалить из корзины
        </button>
        <a type="button"
           class="btn btn-info mt-3"
           href="#" >
          Подробней
        </a>
      </div>
    </div>
  </div>

</div>