<nav class="navbar  navbar-expand-lg  navbar-dark  bg-primary mb-5">
  <a class="navbar-brand"
     [routerLink]="'/'">
    Book store
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor02"
          aria-controls="navbarColor">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse  navbar-collapse"
       id="navbarColor02"
       *ngIf="isLogin"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'/'"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact:true}">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'panel'"
           [routerLinkActive]="'active'">
          Panel
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           *ngIf="isLogin"
           [routerLink]="'order'"
           [routerLinkActive]="'active'">
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="'about'"
           [routerLinkActive]="'active'">
          About
        </a>
      </li>
    </ul>
  </div>

  <span class="navbar-text mr-3 ml-auto"
        *ngIf="isLogin">
    Welcome, {{userName}}
  </span>

  <button class="btn btn-danger"
          [routerLink]="'/login'"
          (click)="logOut()">
    Logout
  </button>

  <a class="btn btn-warning ml-3"
     [routerLink]="'/login'"
     *ngIf="!isLogin">
    Login
  </a>

  <a class="btn btn-warning ml-3"
     [routerLink]="'/registration'"
     *ngIf="!isLogin">
    Registration
  </a>

  <div class="navbar-text ml-3"
       *ngIf="isPublick">
    <app-basket></app-basket>
  </div>

</nav>