<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Count</th>
      <th scope="col">Sum</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Learn JS</th>
      <td>100</td>
      <td>
        <input type="number"
               name="">
      </td>
      <td>1000</td>
      <td>
        <button class="btn btn-danger">
          X
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary">
    Checkout
  </button>
</div>
